.homepage-toggle-switch {
    all: revert;
    display: inline-block;
    width: 60px;
    height: 34px;

  }
  
  .homepage-toggle-thumb {
    all: revert;

    width: 60px;
    height: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    border-radius: 40px;
    cursor: pointer;
    color: white;
  }
  
  .tt-left {
    all: revert;
    position: relative;
    left: 12px;
    z-index: 1;
  }
  
  .tt-right {
    all: revert;
    position: relative;
    right: 10px;
    z-index: 100;
  }
  
  .homepage-toggle-thumb:before {
    all: revert;
    content: "";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--primary);
    transition: 0.2s all ease;
    z-index: 200;
  }
  
  .homepage-toggle-checkbox {
    all: revert;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .homepage-toggle-checkbox:checked + .homepage-toggle-thumb:before {
    transform: translateX(26px);
  }